@using Markdig
<div class="task-card" id="task-@Task.Id" draggable="true" ondragstart="dragTask(event)"
     data-task-id="@Task.Id" data-swimlane-id="@Task.SwimlaneId">
    <div class="task-content" onclick="openTaskModal('@Task.Id')">
        <span class="task-title">@Task.Title</span>
        @if (!string.IsNullOrWhiteSpace(Task.Description))
        {
            <span
                class="task-description">@((MarkupString)Markdown.ToHtml(Task.Description, TaskController.Pipeline))</span>
        }
    </div>
</div>

@code{
    [Parameter] public required TaskView Task { get; set; }
}