@using Task = Glide.Data.Tasks.Task
<div class="task-card" id="task-@Task.Id" draggable="true" ondragstart="dragTask(event)"
     data-task-id="@Task.Id" data-swimlane-id="@Task.SwimlaneId">
    <div class="task-content" onclick="openTaskModal('@Task.Id')">
        <span class="task-title">@Task.Title</span>
        <span class="task-description">@Task.Description</span>
    </div>
</div>

@code{
    [Parameter] public required Task Task { get; set; }
}